.chats
{
    width:100%;
    display: flex;
    color:white;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    border:none;
    padding:1rem;
}

.chats:hover{
    background-color: #22303C;
    cursor: pointer;
}

.chats > span
{
    font-size:xx-small;
    font-family: 'Nunito';
    opacity:0.7;
}
.chatlist_chat_info
{
    flex:1;
    align-items:flex-start;
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content:space-between;
    padding-left: 1rem;
    row-gap:0.5rem;
}
.chatlist_chat_info .last_message
{
    font-size: 0.80rem;
}
