*
{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.sidebar__component
{
    flex:0.35;
    height:100%;
    display: flex;
    flex-direction: column;
    border-right:1px solid #22303C;
}

.header
{
    width:100%;
    flex:0.10;
    background-color: #22303C;
    text-align: center;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}

@media screen and (max-width:600px)
{
    .sidebar__component
    {
        flex:1;
        
    }
}