*
{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    
}
.sidebar__component
{
    flex:0.35;
    height:100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-right:1px solid #22303C;
}

.sidebar__component 
.header
{
    width:100%;
    flex:0.10;
    background-color: #22303C;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0rem 1rem;
    position:relative;
}

.sidebar__component > .header > p
{
    flex:1;
    margin-top:-10px;
}

@media screen and (max-width:600px)
{
    .sidebar__component
    {
        flex:1;
        
    }
}
.statusColor
{
    height:10px;
    width:10px;
    border-radius: 50%;
    background-color: limegreen;
    display: inline-block;
    margin-right: 10px;
}

.sidebar__chatbody
{
    flex:0.90;
    width:100%;
    
    overflow: scroll;
}
.sidebar__chatbody::-webkit-scrollbar
{
    display: none;
    width:0px;
}

.MuiButton-label
{
    color:#3f51b5;
}
.expandIcon
{
    position:relative;
}
.user__dropdown
{
    width:fit-content;
    height:auto;
    padding:0.5rem;
    background-color: var(--secondary-background-color);
    position: absolute;
    top:110%;
    right:10px;
    z-index: 999;
    color:white;


}

.user__dropdown ul
{
    list-style: none;
}
.user__dropdown li
{
    display: block;
    cursor: pointer;
    transition: all 0.2s;
    font-size: small;
    font-weight:normal;
    font-family: 'Nunito';
    
}
.user__dropdown li:hover
{
    
background-color:grey ;
}

.user__dropdown li:not(:last-child)
{
    margin-bottom: 20px;
}
.user__dropdown ul li button
{
    color:inherit;
    background-color: var(--secondary-background-color);
    border:none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    width:100%;
    cursor:pointer;
}
.user__dropdown ul li button:hover
{
    background-color: grey;
}